.menu{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.like-comment-forward{
    margin: 6px 0;
    display: flex;
}

.menu-icon{
    margin-right: 12px;
}

.menu-icon:hover{
    cursor: pointer;
    color: gray;
}

.saveButton{
    background: 0;
    color: white;
    border: none;
}

.saveButton:hover{
    cursor: pointer;
    color:gray
}